body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}

body::-webkit-scrollbar { 
    display: none; 
}


/* Body Header */

#bhead {
    height: 65vh;
    opacity: 0.8;
    background-image: url(img/image2.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}



/* Horizontal Lists */

.div1{
    color: rgb(99, 13, 17);
    margin: 0;
    margin-right: 5%;
    display: none;
}

.div1 i {
    font-size: 2rem;
}

.dl{
    margin: 0;
    display: none;
    background-color: #828470;
    box-shadow: 0px 4px 8px 1px #535547;
}

.dl ul{
    margin: 0.2rem 0.2rem;
    text-align: left;
    padding: 0px 0.8rem;
}

.dm:hover .dl{
    display: block;
    position: absolute;
    right: 3%;
}

.dl li{
    margin: 0.4rem 0px;
}

.nls{
    list-style: none;
}

.nls li {
    font-weight: 100;
    font-size: 0.9rem;
}

.nls li a{
    list-style: none;
    color: #3b2027;;
    text-decoration: none;
}

.hor {
    padding-left: 0px;
    margin: 0px;
}

.hor li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
}


.nav li a {
    transition: color 0.5s, border-bottom 4s;
}

.nav li a:hover {
    color: lightgrey;
    border-bottom: 1px solid black;
}


/* Name & Icon*/

#name {
    margin-top: 20vh;
}

#myname {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: rgb(117, 8, 72);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.icon li a i {
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}

.icon li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}



/*Section Classes*/

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

section:nth-child(2n) {
    background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
    background-color: white;
}

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}



/*About */

#ab {
    height: auto;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

#image {
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}

#image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}

#para {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}



/*Skills */

.dis {
    width: 75%;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.prog {
    width: 11rem;
    height: 2.2rem;
    background-color: lightgrey;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 25px;
    overflow: hidden;
}

.prog > div {
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}

.sname span {
    color: white;
    font-size: 1rem;
    margin-left: 10px;
    vertical-align: middle;
}



/* Work Experience */

.tl {
    position: relative;
    width: 75%;
}

.tlbox {
    padding: 5px;
    width: 40%;
    min-height: 150px;
    position: relative;
    left: 5%;
    text-align: right;
}

.tlbox::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: lightgrey;
    top: 25%;
    border-radius: 50%;
    z-index: 1;
}

.tlbox:nth-child(2n) {
    left: 53%;
}

.tlbox:nth-child(2n+1)::after {
    right: -11.8%;
}

.tlbox:nth-child(2n)::after {
    left: -9%;
}

.tlcon {
    padding: 8px;
}

.tllogo {
    position: absolute;
    width: 50px;
    overflow: hidden;
}

.tllogo > img {
    width: 100%;
}

#tldiv {
    position: absolute;
    width: 0;
    top: 10%;
    left: 50%;
    border: 1px dashed #0096fa6b;
    height: 66%;
    color: #433E3F;
}

#tldiv .travel {
    position: sticky;
    top: 135px;
    z-index: 2;
}

#tldiv i {
    transform: rotate(90deg);
    margin-top: -35px;
    display: block;
    color: #2857a4;
}

.designation {
    font-size: 1.4rem;
}

.cname {
    margin: 5px 0 0;
    color: #eb822d;
    font-weight: 400;
    font-size: 1.2rem;
}

.dura {
    color: #9e9b9b;
    font-weight: 100;
    color: grey;
    font-size: 1rem;
}

.desc {
    font-size: 14px;
    padding: 2px;
    color: grey;
    line-height: 20px;
}






/* Portfolio */

#pcon {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.pimgcon {
    max-width: 300px;
    overflow: hidden;
    margin: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.pimgcon img {
    width: 100%;
    height: 100%;
}

.pdetails {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}

.pimgcon:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.pimgcon:hover .pdetails {
    background-color: #80808078;
    color: white;
}



/* Contact Form */

#con {
    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    color: rgb(255, 255, 255);
    padding-bottom: 40px;
}

#con h1,
#con h1 span {
    color: white;
}

#cform {
    margin-left: 20%;
}

#ccon {
    display: flex;
}

#detailcon {
    width: 35%;
    margin-left: 6%;
}

#detailcon h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#cformcon {
    width: 50%;
}

#detailcon p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.detailinfo {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}

.detailinfo span {
    margin-left: 0.4rem;
}

.detailinfo i {
    color: white;
}

.detailicon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#cform input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid rgb(245, 243, 243);
    color: #22b8eb;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}

#cform button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#cform button:hover {
    background: white;
    color: #13386fe0;
}

#con .icon li a i {
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*Text Align*/

.tr{
    text-align: right;
}

.tc {
    text-align: center;
}

.tj {
    text-align: justify;
}

/*Margin */

.m0 {
    margin: 0;
}

.mb75px {
    margin-bottom: 75px;
}

.mb50px {
    margin-bottom: 50px;
}



/*color */

.text-highlight {
    color: #2857a4;
    font-weight: 600;

}


/*background-color */

.blue{
    color: #2857a4;
}

.orange {
    background-color: #ec4d1c;
}

.pink {
    background-color: #a0098c;
}

.purple {
    background-color: #ce76bb;
}

.yellow{
    background-color: #e4d340; 
}

.red{
    background-color: rgb(241, 88, 126);
}

/*Percentage*/

.sixty-five-percent {
    height: inherit;
    width: 65%;
}

.ninety-percent {
    height: inherit;
    width: 90%;
}

.eighty-percent {
    height: inherit;
    width: 80%;
}

.forty-percent {
    height: inherit;
    width: 40%;
}


@media only screen and (max-width: 572px) {
    
    .tlbox {
        width: 100%;
        left: 10% !important;
    }

    .div1 {
        display: block;
    }
    
    
    .nav {
        display: none;
    } 
}



@media only screen and (max-width: 768px) {


    .tlbox {
        width: 90%;
        left: 10% !important;
    }

    .tlbox::after {
        left: -9.3% !important;
    }

    #tldiv {
        top: 10%;
        left: 2%;
    }

    #cform {
        margin-left: 0%;
    }

    #ccon {
        flex-wrap: wrap;
    }

    #detailcon {
        width: 80%;
        margin: 10%;
    }

    #cformcon {
        width: 80%;
        margin: 10%;
    }

}

